﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "_BlankLayout";
}
<br />
<br />
<br />
<br />
<br />
<div class="col-md-12 text-center">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <br /><br /><br />
    <button class="confirm100-form-btn text-center"><a asp-area="" asp-page="/Index" style="color:#fff;text-transform:capitalize">Continue</a></button>
</div>
