﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "_BlankLayout";
}


@{
    if (@Model.DisplayConfirmAccountLink)
    {
       
    <div class="col-md-12 text-center">
        <br /><br /><br /><br />
        <h1>@ViewData["Title"]</h1>
        <p>
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    </div>
    }
    else
    {
        
<div class="col-md-12 text-center">
    <br /><br /><br /><br />
    <h1>@ViewData["Title"]</h1>

    <p>
        Please check your email to confirm your account.
    </p>
</div>
    }
}
