﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
       Layout = "_LoginLayout";
}


    <div class="container-login100" style="background: url('@Url.Content("/lib/images/bg-01.jpg")');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
            <form id="account" class="login100-form validate-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <span class="login100-form-title p-b-37">
                    Register
                </span>
                <div asp-validation-summary="All" class="text-danger text-xs-center"></div> <br />
                <div class="validate-input m-b-20" data-validate="Enter username or email">
                    <input asp-for="Input.Email" class="input100" placeholder="Enter your email" />
                    <span class="focus-input100"></span>
                </div>

                <div class="validate-input m-b-25" data-validate="Enter password">
                    <input class="input100" asp-for="Input.Password" type="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="validate-input m-b-25" data-validate="Enter password">
                    <input class="input100" asp-for="Input.ConfirmPassword" type="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>



                <br />
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Register
                    </button>
                </div>



                <br /><br />
                <div class="text-center">
                    <div>
                        <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Model.ReturnUrl">
                            Already a registered user? Log In.
                        </a>
                    </div>
                    <br />
                    <div>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </div>
                </div>


            </form>


        </div>
    </div>


@*<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
